.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.header > a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding: 7px 9px;
    border: 1px solid transparent;
}

.header > a:active {
    color: #D1A954;
    border-color: #D1A954;
}

.header > a:hover {
    color: #D1A954;
}

.header > .special {
    color: #D1A954;
    font-weight: bold;
}